@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Select Doctor</title>
    <link rel="stylesheet" href="~/css/Select.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="left-side">
            <div class="back-logo">
                <a href="@Url.Action("Home", "Home")"><i class="fas fa-arrow-left"></i></a>
                <img src="~/Images/Logo white.png" alt="Pro Clinic Logo" />
            </div>

            <div class="appointment-info">
                <div class="info-box">
                    <i class="fas fa-user-smile"></i>
                    <span>Doctor: @ViewBag.Name</span>
                </div>
                <div class="info-box">
                    <i class="fas fa-wallet"></i>
                    <span>Price: @ViewBag.Price$</span>
                </div>
                <div class="info-box">
                    <i class="fas fa-clock"></i>
                    <span>Appointment: @ViewBag.Day</span>
                </div>
                <div class="info-box">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Date: @ViewBag.Date</span>
                </div>
            </div>
            <a href="@Url.Action("Payment", "Payment")" class="book-btn">Book now</a>

            <p class="footer">© Copyright 2025 Pro Clinic corporation</p>
        </div>

        <div class="right-side">
            <p class="title">Book your appointment with the doctor now</p>
            <img src="~/Images/Pro Clinic.png" alt="Booking Illustration" />
        </div>
    </div>
</body>
</html>
